
.navbar-container {
    height: 4em !important;
    display: flex;
    align-items: center;
    box-shadow: rgba(17, 31, 93, 0.08) 3px 0px 30px, rgba(27, 27, 43, 0.09) 2px 0px 5px;
}

.paginationContainer {
    display: flex !important;
    justify-content: space-between;
    /*justify-content: center;*/
}

.usersContainer {
    max-width: 95% !important;
}

.flexBoxStyle {
    display: flex;
}

.alignContentEnd {
    justify-content: flex-end;
}

#TooltipExample {
    margin-top: 1em;
}

#image-logo {
    height: 2em;
}
.navlink1 {
    align-self: center;
    margin-left: 70vh !important;
}
